<div class="container" id="welcome">
  <div class="row" id="welcome-grids">
    <div class="col-sm" id="sign-in">
    <br>Test
    <br>Test
    <br>Test
    </div>
    <div class="col-sm" id="filler-content">
    Test
    </div>
  </div>
</div>